@using Microsoft.EntityFrameworkCore
@using SlugGenerator
@inject ua.kozubka.context.Services.Repositories.ModelRepository.Ogo.IOgoAdRepository _ogoAdRepository
@inject ua.kozubka.context.Services.Repositories.ModelRepository.Directory.IDirectoryServicesCollectionRepository _services
@inject ua.kozubka.context.Services.Repositories.ModelRepository.ISettingRepository _settingRepoisitory
@{ 
    var allServices = _services.DirectoryServicesCollections.Where(d => d.Enabled).ToList();
    var fileSite = _settingRepoisitory.GetSetting(ua.kozubka.context.Classes.Constants.SettingsOptions.FileSite);

}

<section class="rt-main-post-section main-post-section-style-1 section-padding">
    <div class="container">
        <div class="row gutter-24">
            <div class="col-xl-7 col-lg-6 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="800ms">
                <div class="rt-post-overlay rt-post-overlay-xl layout-1">
                    <div class="post-img">
                        <a href="single-post1.html" class="img-link">
                            <img src="~/assets/img/gallery/post-xl_1.jpg" alt="post-xl_1" width="900" height="600">
                        </a>
                    </div>
                    <div class="post-content">
                        <a href="life-style.html" class="fashion">Fashion</a>
                        <h3 class="post-title bold-underline">
                            <a href="single-post1.html">
                                How childhood viral infections may
                                year 2021 Section
                            </a>
                        </h3>
                        <div class="post-meta">
                            <ul>
                                <li>
                                    <span class="rt-meta">
                                        by <a href="author.html" class="name">Willum Skeem</a>
                                    </span>
                                </li>
                                <li>
                                    <span class="rt-meta">
                                        <i class="far fa-calendar-alt icon"></i>
                                        DECEMBER 9, 2022
                                    </span>
                                </li>
                                <li>
                                    <span class="rt-meta">
                                        <i class="far fa-comments icon"></i>
                                        <a href="#"> 3,250</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="row gutter-24">
                    <div class="col-12 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="800ms">
                        @{
                            var ogo = _ogoAdRepository.OgoAds.Include(d=>d.DirectoryGoodsGroup).Include(d=>d.OgoAdImages.Where(d=>d.Enabled)).Where(d => d.Enabled && d.IsAdminApprove && !d.IsDelete).OrderByDescending(d => d.InsertTime).FirstOrDefault(); 
                            var linkToOgo = string.Format("{0}/{1}-{2}",allServices.Where(d => d.UrlService.Contains("ogo.")).Select(d => d.UrlService).FirstOrDefault(),ogo.IdOgoAd,ogo.OgoAdTitle.GenerateSlug("_"));
                            var infoOgoService = allServices.Where(d => d.UrlService.Contains("ogo.")).FirstOrDefault();
                        }
                        <div class="rt-post post-md style-10">
                            <div class="post-img">
                                <a href="@linkToOgo">
                                    @{
                                        var imgsrc = "/assets/img/gallery/post-lg_1.jpg";
                                        if(ogo.OgoAdImages.Any())
                                        {
                                            imgsrc = string.Format("{0}{1}", fileSite, ogo.OgoAdImages.Select(d => d.AdImage_380_270).FirstOrDefault());
                                        }
                                        <img src="@imgsrc" alt="@ogo.OgoAdTitle" width="696" height="491">
                                    }
                                    
                                </a>
                            </div>
                            <div class="post-content">
                                <a href="@infoOgoService.UrlService" class="food">@infoOgoService.ShotNameService</a>
                                <h3 class="post-title">
                                    <a href="@linkToOgo">
                                        @ogo.OgoAdTitle
                                    </a>
                                </h3>
                                
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-12 wow fadeInUp" data-wow-delay="600ms" data-wow-duration="800ms">
                        <div class="rt-post post-md style-10">
                            <div class="post-img">
                                <a href="single-post1.html">
                                    <img src="~/assets/img/gallery/post-lg_2.jpg" alt="post" width="696" height="491">
                                </a>
                            </div>
                            <div class="post-content">
                                <a href="technology.html" class="technology">Technology</a>
                                <h3 class="post-title">
                                    <a href="single-post1.html">
                                        50 Years After The Moon
                                        Landing: How Close Is
                                        Space Travel, Really?
                                    </a>
                                </h3>
                                <span class="rt-meta">
                                    <i class="far fa-calendar-alt icon"></i>
                                    DECEMBER 9, 2022
                                </span>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-12 wow fadeInUp" data-wow-delay="800ms" data-wow-duration="800ms">
                        <div class="rt-post post-md style-10">
                            <div class="post-img">
                                <a href="single-post1.html">
                                    <img src="~/assets/img/gallery/travel-lg_2.jpg" alt="post" width="696" height="491">
                                </a>
                            </div>
                            <div class="post-content">
                                <a href="life-style.html" class="travel">Travel</a>
                                <h3 class="post-title">
                                    <a href="single-post1.html">
                                        50 Years After The Moon
                                        Landing: How Close Is
                                        Space Travel, Really?
                                    </a>
                                </h3>
                                <span class="rt-meta">
                                    <i class="far fa-calendar-alt icon"></i>
                                    DECEMBER 9, 2022
                                </span>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</section>